a {
  color: #00B7FF;
}

/**
  GENERAL CLASSES:;
**/
.hidden{
  display: none;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.triangle_up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2f2f2f;
  cursor: pointer;
  margin-left: 10px;
}
.triangle_up:hover {
  border-bottom: 15px solid #aaaaaa;  
}

.triangle_down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #2f2f2f;
  cursor: pointer;
  margin-left: 10px;
}
.triangle_down:hover {
  border-top: 15px solid #aaaaaa;  
}

/*****************************
  Navigation
*****************************/
nav{
  background-color: #dddddd;
  height: 30px;
}


/*****************************
  DIVS:
*****************************/
#container{
  padding: 0px;
  margin: 0px;
}

.bookmark{
	display: block;
	padding: 10px 0 10px 0;
}

.likes{
  float: left;
  width: 50px;
  text-align: center;
  padding-top: 25px;
}
.likes h2 {
  margin: 0;
}

.description{
  overflow: hidden;
}

.label{
  margin-right: 5px;
}

/*****************************
 Sticky footer styles
*****************************/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}