doctype html
html
	head
		title= "Demonstratio"
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/jquery.tagit.css')
		link(rel='stylesheet', href='/stylesheets/tagit.ui-zendesk.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/jquery-ui.min.js')
		script(src='/javascripts/tag-it.min.js')
		script(src='/javascripts/bookmarks_client.js')
		script(src='/javascripts/jquery.tinysort.min.js')
		script(src='/javascripts/moment.js')

	body
		div.navbar.navbar-fixed-top.navbar-default
			div.navbar-header.pull-left
				a.navbar-brand Demonstratio
			div.navbar-header.pull-right
				button.btn.btn-default.navbar-btn Button 1
				button.btn.btn-default.navbar-btn Button 2

		block content