doctype html
html
	head
		title= "Demonstratio"
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/jquery.tagit.css')
		link(rel='stylesheet', href='/stylesheets/tagit.ui-zendesk.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/jquery-ui.min.js')
		script(src='/javascripts/tag-it.min.js')
		script(src='/javascripts/bookmarks_client.js')
		script(src='/javascripts/jquery.tinysort.min.js')
		script(src='/javascripts/moment.js')

	body
		nav.navbar-wrapper.navbar-default.navbar
			div.container-fluid
				div.navbar-header
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
						span.sr-only
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Demonstratio
				div.collapse.navbar-collapse.pull-right
					ul.nav.navbar-nav
						if (user)
							li 
								a(href="/profile") #{user.local.email}
							li
								a(href="/logout") Logout
						else
							li
								a(href="/signup") Signup
							li
								a(href="/login") Login

		block content